<div class="code">
  <textarea
    {{on "input" this.updateCode}}
    {{on "keydown" this.onKeyDown}}
    {{on "keydown" this.updateCode}}
    {{on "change" this.store}}
  >{{this.state.code}}</textarea>
  <div>{{#each this.codeParsed as |line|}}<CodeValidation @value={{line}}/>{{/each}}</div>
</div>


