<span
  {{did-insert this.updateTabSpacing @value.indent}}
  {{did-update this.updateTabSpacing @value.indent}}
><div class="indicator {{this.class}}"></div></span>{{!--
--}}<span class="no-pointer-event text {{this.class}}"
  {{did-insert this.updateTabSpacing @value.indent}}
  {{did-update this.updateTabSpacing @value.indent}}
>
  {{~@value.text~}}
</span>
