<Section @name="overview_open">
  <:header>
    <span>Overview</span>
    <span>{{this.overview_extra}}</span>
  </:header>
  <:default>
    <div
      class="table"
      {{did-insert this.setWidth this.data}}
      {{did-update this.setWidth this.data}}

      {{did-insert this.calculate this.state.code}}
      {{did-update this.calculate this.state.code}}
    >
      {{#each this.data as |x|}}
        {{#if x.corner}}
          <div class={{x.class}}>
            <span>ds</span>
            <span>cx</span>
            <svg viewBox="0 0 1 1" preserveAspectRatio="none">
              <line
                  x1="0" y1="0" x2="1" y2="1"
                  stroke="black"
                  vector-effect="non-scaling-stroke"
              />
            </svg>
          </div>
        {{else if x.header}}
          <div
            class={{x.class}}
            data-cx={{x.x}}
            data-ds={{x.y}}
            tabindex="0"
            {{on "click" (fn this.toggleHeader x)}}
          >
            {{x.value}}
          </div>
        {{else}}
          {{#if (this.getAnyValue x.value)}}
            {{#let (this.getCellValue x.value) as |value|}}
              {{#let (this.getCellClass x.value) as |class|}}
                <div
                  class={{class}}
                  data-cx={{x.x}}
                  data-ds={{x.y}}
                  tabindex="0"
                  {{on "click" (fn this.toggleCell x.value)}}
                  title={{value}}
                >
                  {{#if value}}
                    {{format-number value}}
                  {{else}}
                    <svg viewBox="0 0 1 1" preserveAspectRatio="none">
                      <line
                          x1="0" y1="1" x2="1" y2="0"
                          stroke="lightgray"
                          vector-effect="non-scaling-stroke"
                      />
                    </svg>
                  {{/if}}
                </div>
              {{/let}}
            {{/let}}
          {{else}}
            <div
                data-cx={{x.x}}
                data-ds={{x.y}}
            >
              <svg viewBox="0 0 1 1" preserveAspectRatio="none">
                <line
                    x1="0" y1="1" x2="1" y2="0"
                    stroke="lightgray"
                    vector-effect="non-scaling-stroke"
                />
              </svg>
            </div>
          {{/if}}
        {{/if}}
      {{/each}}
    </div>
  </:default>
</Section>