<div
  class="overview details"
  {{did-insert this.setWidth this.data}}
  {{did-update this.setWidth this.data}}

  {{did-insert this.calculate this.state.code}}
  {{did-update this.calculate this.state.code}}
>
  {{#each this.data as |x|}}
    {{#if x.corner}}
      <div class={{x.class}}>
        <span>ds</span>
        <span>cx</span>
        <svg viewBox="0 0 1 1" preserveAspectRatio="none">
            <line
                x1="0" y1="0" x2="1" y2="1"
                stroke="black"
                vector-effect="non-scaling-stroke"
            />
        </svg>
      </div>
    {{else if x.header}}
      <div class={{x.class}}>{{x.value}}</div>
    {{else}}
      <div class={{this.getCellClass x.value}}>{{this.getCellValue x.value}}</div>
    {{/if}}
  {{/each}}
</div>