{{page-title this.compressed}}
<Section @name="code_open">
  <:header>
    <span>Code</span>
    <span title={{this.state.code}}>{{this.compressed}}</span>
    <span class="flex-grow"></span>
  </:header>
  <:default>
    <div class="main">
      <div class="code"
        {{did-insert this.setupEditor}}
        {{did-update this.updateEditor this.state.code}}
        {{will-destroy this.destroyEditor}}
      >
        <div>{{#each this.codeParsed as |line|}}<CodeValidation @value={{line}}/>{{/each}}</div>
      </div>
      {{#if this.state.code_error}}
        <div class="code-error">
          {{~this.state.code_error~}}
        </div>
      {{/if}}
    </div>
    <div class="settings">
      <Section @name="settings_open">
        <:header>
          <span>Settings</span>
          <span class="flex-grow"></span>
        </:header>
        <:default>
          <div></div><div>trg</div><div>ds</div>

          <label>my_deck</label>
          <input value={{this.state.my_deck_trg}} {{on "change" (fn this.change "my_deck_trg")}}>
          <input value={{this.state.my_deck_ds}} {{on "change" (fn this.change "my_deck_ds")}}>
          <label>my_waitingroom</label>
          <input value={{this.state.my_waitingroom_trg}} {{on "change" (fn this.change "my_waitingroom_trg")}}>
          <input value={{this.state.my_waitingroom_ds}} {{on "change" (fn this.change "my_waitingroom_ds")}}>

          <hr>

          <div></div><div>cx</div><div>ds</div>
          <label>op_waitingroom</label>
          <input value={{this.state.op_waitingroom_cx}} {{on "change" (fn this.change "op_waitingroom_cx")}}>
          <input value={{this.state.op_waitingroom_ds}} {{on "change" (fn this.change "op_waitingroom_ds")}}>
        </:default>
      </Section>
    </div>
  </:default>
</Section>
